@font-face {
	font-family: "Sweet Pea";
	src: url("/assets/fonts/Sweet_Pea.ttf");
}
@font-face {
	font-family: "Paper Cutout";
	src: url("/assets/fonts/Paper_Cutout.ttf");
}

/* rows and columns from http://www.sitepoint.com/understanding-css-grid-systems/ */
.row, .column {
	box-sizing: border-box;
}
.row:before, .row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.column {
	position: relative;
	float: left;
	display: block;
}
.grid-w-gutters .column + .column {
	margin-left: 1.6%;
}

[class*="col-"] {
	width: 100%;
}

/* end rows and columns from http://www.sitepoint.com/understanding-css-grid-systems/ */

/* grids and columns */
.float-left { float: left !important; }
.float-right { float: right !important; }
.float-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.clearfix::before, .clearfix::after {
	content: ' ';
	display: table;
}
.clearfix::after { clear: both; }
.invisible { visibility: hidden; }
.is-visible { display: block !important; }
.is-hidden { display: none !important; }

.grid, .grid-w-gutters {
	width: 100%;
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}

.no-bullet { margin-left: 0; list-style: none; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
/* end grids and columns */

/* form normalizations from Foundation */
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 1rem;
  color: #0a0a0a;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 7px;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none; }
  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
  textarea:focus {
	border: 1px solid #8a8a8a;
	background-color: #fefefe;
	outline: none;
	box-shadow: 0 0 5px #cacaca;
	transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

textarea {
  max-width: 100%; }
  textarea[rows] {
	height: auto; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cacaca; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cacaca; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cacaca; }

input::placeholder,
textarea::placeholder {
  color: #cacaca; }

input:disabled, input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: #e6e6e6;
  cursor: not-allowed; 
  opacity: .7;
}

[type='submit'],
[type='button'] {
  border-radius: 7px;
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type='search'] {
  box-sizing: border-box; }

[type='file'],
[type='checkbox'],
[type='radio'] {
  margin: 0 0 1rem; }

[type='checkbox'] + label,
[type='radio'] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }
  [type='checkbox'] + label[for],
  [type='radio'] + label[for] {
	cursor: pointer; }

label > [type='checkbox'],
label > [type='radio'] {
  margin-right: 0.5rem; }

[type='file'] {
  width: 100%; }

label {
  display: block;
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  color: #0a0a0a; }
  label.middle {
	margin: 0 0 1rem;
	padding: 0.5625rem 0; }

.help-text {
  margin-top: -0.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: #0a0a0a; }

.input-group {
  display: table;
  width: 100%;
  margin-bottom: 1rem; }
  .input-group > :first-child {
	border-radius: 7px 0 0 7px; }
  .input-group > :last-child > * {
	border-radius: 0 7px 7px 0; }

.input-group-label, .input-group-field, .input-group-button {
  margin: 0;
  display: table-cell;
  vertical-align: middle; }

.input-group-label {
  text-align: center;
  padding: 0 1rem;
  background: #e6e6e6;
  color: #0a0a0a;
  border: 1px solid #cacaca;
  white-space: nowrap;
  width: 1%;
  height: 100%; }
  .input-group-label:first-child {
	border-right: 0; }
  .input-group-label:last-child {
	border-left: 0; }

.input-group-field {
  border-radius: 0;
  height: 2.5rem; }

.input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  height: 100%;
  width: 1%; }
  .input-group-button a,
  .input-group-button input,
  .input-group-button button {
	margin: 0; }

.input-group .input-group-button {
  display: table-cell; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

legend {
  margin-bottom: 0.5rem;
  max-width: 100%; }

.fieldset {
  border: 1px solid #cacaca;
  padding: 1.25rem;
  margin: 1.125rem 0; }
  .fieldset legend {
	background: #fefefe;
	padding: 0 0.1875rem;
	margin: 0;
	margin-left: -0.1875rem; }

select {
  height: 2.4375rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-size: 1rem;
  font-family: inherit;
  line-height: normal;
  color: #0a0a0a;
  background-color: #fefefe;
  border-radius: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28138, 138, 138%29"></polygon></svg>');
  background-size: 9px 6px;
  background-position: right center;
  background-origin: content-box;
  background-repeat: no-repeat; }
  @media screen and (min-width: 0\0) {
	select {
	  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }
  select:disabled {
	background-color: #e6e6e6;
	cursor: not-allowed; }
  select::-ms-expand {
	display: none; }
  select[multiple] {
	height: auto;
	background-image: none; }

button {
    margin-bottom: 1em;
    padding: .5em 1em;
    box-sizing: border-box;
    font-size: 16px;
    background-image: none;
    font-family: "lato", sans-serif;
    width: auto;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    background-color: #164670;
    text-transform: capitalize;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
}
/*
button:hover {
	background-color: rgba(22, 70, 112, .7);
}
*/
[data-whatinput='mouse'] button {
	outline: 0; }


/* end form normalizations from Foundation */

/****** Carousel CSS Auto-embed - Base Styles *******/

/* Slick Base Carousel -- http://kenwheeler.github.io/slick/ -- do not change below */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
			touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
		 -moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			 -o-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;

	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}

/* Arrows */
.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 15%;
	height: 100%;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
border-radius: 0;
	outline: none;
	background: transparent;
	z-index: 100;
-webkit-transition: background .25s;
-moz-transition: background .25s;
transition: background .25s;
box-shadow: none;
text-shadow: 1px 1px 1px #000;
}
.slick-prev:hover .slick-next:hover {
	color: transparent;
	outline: none;
}
.slick-prev {
background-image: -webkit-linear-gradient(left,rgba(255, 255, 255,.5) 0,rgba(255, 255, 255,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(255, 255, 255,.5) 0,rgba(255, 255, 255,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(255, 255, 255,.5)),to(rgba(255, 255, 255,.0001)));
	background-image: linear-gradient(to right,rgba(255, 255, 255, 0.5) 0,rgba(255, 255, 255,.0001) 100%);
}
.slick-next {
background-image: -webkit-linear-gradient(right,rgba(255, 255, 255,.5) 0,rgba(255, 255, 255,.0001) 100%);
	background-image: -o-linear-gradient(right,rgba(255, 255, 255,.5) 0,rgba(255, 255, 255,.0001) 100%);
	background-image: -webkit-gradient(linear,right top,left top,from(rgba(255, 255, 255,.5)),to(rgba(255, 255, 255,.0001)));
	background-image: linear-gradient(to left,rgba(255, 255, 255, 0.5) 0,rgba(255, 255, 255,.0001) 100%);
}
.slick-prev:hover:before, .slick-next:hover:before {
	opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: .25;
}

.slick-prev:before, .slick-next:before {
	font-family: 'FontAwesome';
	font-size: 50px;
	line-height: 1;
	opacity: .75;
	color: #164670;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: 0;
}
[dir='rtl'] .slick-prev {
	right: 25px;
	left: auto;
}
.slick-prev:before {
	content: "\f104";
}
[dir='rtl'] .slick-prev:before {
	content: "\f105";
}

.slick-next {
	right: 0;
}
[dir='rtl'] .slick-next {
	right: auto;
	left: -25px;
}
.slick-next:before {
	content: "\f105";
}
[dir='rtl'] .slick-next:before {
	content: "\f104";
}

/* Dots */
.slick-dots {
	position: absolute;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	font-family: 'arial', sans-serif;
	font-size: 48px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
	opacity: .75;
}
/* End Slick Base Carousel -- do not change above */

/****** End Carousel CSS Auto-embed - Base Styles *******/

/*animations*/

/*slight movements*/
/* @-webkit-keyframes outdoorsMovement {
	0% {
		-webkit-transform: scale(1.1) rotate(0deg);
		transform: scale(1.1) rotate(0deg);
	}

	25% {
		-webkit-transform: scale(1) rotate(5deg);
		transform: scale(1) rotate(5deg);
	}

	60% {
		-webkit-transform: scale(0.9) rotate(0deg) translate3d(1%, 2%, 0);
		transform: scale(0.9) rotate(0deg) translate3d(1%, 2%, 0);
	}

	100% {
		-webkit-transform: scale(1.2) rotate(-5deg);
		transform: scale(1.2) rotate(-5deg);
	}
} */
@keyframes outdoorMovement {
	0% {
		-webkit-transform: scale(1.1) rotate(0deg);
		-moz-transform: scale(1.1) rotate(0deg);
		transform: scale(1.1) rotate(0deg);
	}

	25% {
		-webkit-transform: scale(1) rotate(5deg);
		-moz-transform: scale(1) rotate(5deg);
		transform: scale(1) rotate(5deg);
	}

	60% {
		-webkit-transform: scale(0.9) rotate(0deg) translate3d(1%, 2%, 0);
		-ms-transform: scale(0.9) rotate(0deg) translate3d(1%, 2%, 0);
		transform: scale(0.9) rotate(0deg) translate3d(1%, 2%, 0);
	}

	100% {
		-webkit-transform: scale(1.2) rotate(-5deg);
		-moz-transform: scale(1.2) rotate(-5deg);
		transform: scale(1.2) rotate(-5deg);
	}
}

/*horse tail movement*/

@-webkit-keyframes tailSwing {
	0% {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}

	25% {
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	50% {
		-webkit-transform: rotate(50deg);
		transform: rotate(50deg);
	}

	60% {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}

	100% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
@keyframes tailSwing {
	0% {
		-webkit-transform: rotate(25deg);
		-moz-transform: rotate(25deg);
		transform: rotate(25deg);
	}

	25% {
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	50% {
		-webkit-transform: rotate(50deg);
		-moz-transform: rotate(50deg);
		transform: rotate(50deg);
	}

	60% {
		-webkit-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		transform: rotate(20deg);
	}

	100% {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

/*horse body movement*/

@-webkit-keyframes walkHorse {
	to {
		-webkit-transform: translate3d(2em, 0, 0);
		transform: translate3d(2em, 0, 0);
	}
}
@keyframes walkHorse {
	to {
		-webkit-transform: translate3d(2em, 0, 0);
		-moz-transform: translate3d(2em, 0, 0);
		transform: translate3d(2em, 0, 0);
	}
}

/*bee movement*/

@-webkit-keyframes sendBee {
	to {
		-webkit-transform: rotate(25deg) translate3d(-1em, 1em, 0);
		transform: rotate(25deg) translate3d(-1em, 1em, 0);
	}
}
@keyframes sendBee {
	to {
		-webkit-transform: rotate(25deg) translate3d(-1em, 1em, 0);
		-moz-transform: rotate(25deg) translate3d(-1em, 1em, 0);
		transform: rotate(25deg) translate3d(-1em, 1em, 0);
	}
}

/* generic custom styles */
body {
  margin: 3em auto 0;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 75%, rgba(214,246,241,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(70%, rgba(255,255,255,1)), color-stop(75%, rgba(255,255,255,1)), color-stop(100%, rgba(214,246,241,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 75%, rgba(214,246,241,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 75%, rgba(214,246,241,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 75%, rgba(214,246,241,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 75%, rgba(214,246,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6f6f1', GradientType=0 );
}
div {
	color: #53708C;
}
p {
	color: #333;
	font-size: 16px;
	margin: .25em auto;
	font-family: 'Lato', sans-serif;
	line-height: 1.5em;
    text-align: center;
}
a {
	color: #091521;
	text-decoration: none;

}
a:hover {
	color: #FFF;
	transition: color .25s;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
}

img {
	max-width: 100%;
}

/****** Add WYSIWYG / Body Content CSS Here *******/

h1 {
  color: #091521;
  margin: 0;
  padding: 20px 0 20px 0;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 17px;
  letter-spacing: .05em;
}
h2 {
	color: #333;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	line-height: 1em;
}
h2.section-title {
	font-family: "Lato", sans-serif;
	font-size: 33px;
	font-weight: 100;
	color: #333;  
	text-transform: uppercase;
	margin: .5em auto .25em;
	text-align: center;
}
.section-subtitle {
	font-size: 26px;
	color: #333;
    font-family: "Sweet Pea";
    text-align: center;
    margin: 1em auto 1em;
}
.artist-portfolio .section-subtitle {
    margin: 2em auto 1em;
}
h3 {
  color: #333;
  font-size: 16px;
  margin: 0;
  font-family:'Lato', sans-serif;
}
a.header-link {
    margin: 0.5em auto .25em;
    display: inline-block;
    line-height: 1.25em;
	color: rgb(131, 179, 179);
}
a.content-link {
    margin: 0.5em auto .25em;
    display: inline-block;
    line-height: 1.25em;
	color: rgba(131, 179, 179, 1);
}
a.header-link:hover,
a.content-link:hover {
	color: rgba(131, 179, 179, .7);
}

.blockquote {
  display: block;
  font-family:'Lato', sans-serif;
  color:  #0c437a;
  font-size: 17px;
  font-style: italic;
  margin-left: 2em;
  padding-left: 1.5em;
  border-left: solid 3px #c5d9ec;
  line-height: 28px;
  quotes: none;
}

.img_right_25,
.img_left_25,
.img_right_50,
.img_center_50,
.img_left_50 {
  width: 100%;
  margin-bottom: 1em;
}

.img_full_width {
  width: 100%;
  float: none;
  margin-bottom: 1em;
}
.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}

/*square up css*/
.sq-embed-menu-iframe .ember-application  .business {
	background-color: transparent !important;
}
.sq-embed-menu-iframe .ember-application .category_name {
	display: none !important;
}

@media screen and (max-width: 499px) {
	html,body {
		overflow-x: hidden;
	}
	body {
		position: relative;
	}
	.grid-w-gutters .column + .column {
		margin-left: 0;
	}
	.grid, .grid-w-gutters { width: 95%; }
	/* standard stuff for small only screen */
	.s-one { width: 8.33%; }
	.s-two { width: 16.66%; }
	.s-three { width: 25%; }
	.s-four { width: 33.33%; }
	.s-five { width: 41.66%; }
	.s-six { width: 50%; }
	.s-seven { width: 58.33%; }
	.s-eight { width: 66.66%; }
	.s-nine { width: 75%; }
	.s-ten { width: 83.33%; }
	.s-eleven { width: 91.66%; }
	.s-twelve { width: 100% !important; }

	.s-text-left { text-align: left; }
	.s-text-right { text-align: right; }
	.s-text-center { text-align: center; }
	.s-text-justify { text-align: justify; }



	/****** Add Site CSS Content, Tools for Small Here *******/
	
	.left-sidebar,
	.main-content {
		float: none;
	}

	/****** Add Regular WYSIWYG Content for Small Here *******/
	.img_right_25 {
		float: right;
		width: 50%;
		margin: 1em 0 2em 2em;
	}
	.img_left_25 {
		float: left;
		width: 50%;
		margin: 1em 2em 2em 0;
	}
	.img_full_width,
	.img_left_50,
	.img_right_50 {
		width: 100%;
		float: none;
		margin: .5em auto 1em;
	}
	.img_center_50 {
		width: 100%;
		margin: 0 auto;
	}
	.mobile-only {
		display: block;
	}
	.desktop-only {
		display: none;
	}
}

@media screen and (min-width: 500px) {
	.slick-prev:before, .slick-next:before {
		font-size: 120px;
	}
}

@media screen and (min-width: 500px) and (max-width: 959px) {
	html,body {
		overflow-x: hidden;
	}
	body {
		position: relative;
	}
	/* give us some space */
	.grid, .grid-w-gutters { width: 95%; }

	/* standard stuff for medium only screen */
	.m-one { width: 8.33%; }
	.m-two { width: 16.66%; }
	.m-three { width: 25%; }
	.m-four { width: 33.33%; }
	.m-five { width: 41.66%; }
	.m-six { width: 50%; }
	.m-seven { width: 58.33%; }
	.m-eight { width: 66.66%; }
	.m-nine { width: 75%; }
	.m-ten { width: 83.33%; }
	.m-eleven { width: 91.66%; }
	.m-twelve { width: 100%; }

	.m-text-left { text-align: left; }
	.m-text-right { text-align: right; }
	.m-text-center { text-align: center; }
	.m-text-justify { text-align: justify; }

	/****** Regular WYSIWYG Content for Medium *******/
	.h2-header {
		color: #091521;
		margin: 1em auto .25em;
		font-family: "Code-Pro", sans-serif;
		font-weight: 100;
		font-size: 20px;
		line-height: 17px;
	}

	.h3-subheader {
		font-family: 'Open Sans', sans-serif;
		color:  #214364;
	}

	.h3-subheader-italic {
		margin: .25em auto .75em;
		font-family: 'Open Sans';
		font-style: italic;
		color: #214364;
		font-weight: 100;
	}

	.blockquote {
		display: block;
		font-family: 'Open Sans', sans-serif;
		color:  #0c437a;
		font-size: 17px;
		font-style: italic;
		margin-left: 2em;
		padding-left: 1.5em;
		border-left: solid 3px #c5d9ec;
		line-height: 28px;
		quotes: none;
	}

	/****** Regular image WYSIWYG Content for Medium *******/
	.img_right_25,
	.img_right_50 {
		float: right;
		width: 50%;
		margin: 1em 0 2em 2em;
	}
	.img_left_25,
	.img_left_50 {
		float: left;
		width: 50%;
		margin: 1em 2em 2em 0;
	}
	
	.img_center_50 {
		width: 50%;
		margin: 0 auto;
	}

	.img_full_width {
		width: 100%;
		float: none;
		margin: .5em auto 1em;
	}

	.mobile-only {
		display: none;
	}
	.desktop-only {
		display: block;
	}
}

@media screen and (min-width: 960px) {
	.col-1-across { width: 8.33%; }
	.col-2-across { width: 16.66%; }
	.col-3-across { width: 25%; }
	.col-4-across { width: 33.33%; }
	.col-5-across { width: 41.66%; }
	.col-6-across { width: 50%; }
	.col-7-across { width: 58.33%; }
	.col-8-across { width: 66.66%; }
	.col-9-across { width: 75%; }
	.col-10-across { width: 83.33%; }
	.col-11-across { width: 91.66%; }
	.col-12-across { width: 100%; }
	.grid-w-gutters .col-1-across { width: 6.86666666667%; }
	.grid-w-gutters .col-2-across { width: 15.3333333333%; }
	.grid-w-gutters .col-3-across { width: 23.8%; }
	.grid-w-gutters .col-4-across { width: 32.2666666667%; }
	.grid-w-gutters .col-5-across { width: 40.7333333333%; }
	.grid-w-gutters .col-6-across { width: 49.2%; }
	.grid-w-gutters .col-7-across { width: 57.6666666667%; }
	.grid-w-gutters .col-8-across { width: 66.1333333333%; }
	.grid-w-gutters .col-9-across { width: 74.6%; }
	.grid-w-gutters .col-10-across { width: 83.0666666667%; }
	.grid-w-gutters .col-11-across { width: 91.5333333333%; }
	.grid-w-gutters .col-12-across { width: 100%; }

	/****** Regular WYSIWYG Content for Large *******/
	.h2-header {
		color: #091521;
		margin: 1em auto .25em;
		font-family: "Code-Pro", sans-serif;
		font-weight: 100;
		font-size: 20px;
		line-height: 17px;
	}

	.h3-subheader {
		font-family: 'Open Sans', sans-serif;
		color:  #214364;
	}

	.h3-subheader-italic {
		margin: .25em auto .75em;
		font-family: 'Open Sans';
		font-style: italic;
		color: #214364;
		font-weight: 100;
	}

	.blockquote {
		display: block;
		font-family: 'Open Sans', sans-serif;
		color:  #0c437a;
		font-size: 17px;
		font-style: italic;
		margin-left: 2em;
		padding-left: 1.5em;
		border-left: solid 3px #c5d9ec;
		line-height: 28px;
		quotes: none;
	}

	/****** Regular Image WYSIWYG Content for Large *******/
	.img_right_25 {
		float: right;
		width: 25%;
		margin: 1em 0 1em 1em;
	}
	.img_right_50 {
		float: right;
		width: 50%;
		margin: 1em 0 1em 1em;
	}
	.img_left_25 {
		float: left;
		width: 25%;
		margin: 1em 0 1em 1em;
	}
	.img_left_50 {
		float: left;
		width: 50%;
		margin: 1em 1em 1em 0;
	}
	
	.img_center_50 {
		width: 50%;
		margin: 0 auto;
	}

	.img_full_width {
		width: 100%;
		float: none;
		margin: .5em auto 1em;
	}
	
	.img_left_50:nth-child(even) {
		margin: 1em 0 1em -1em;
	}
}